*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: sans-serif;
}

body{
    background-image: url("../img/background.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
background-color: rgba(0, 0, 0, 0.685);
height: 45px;
align-items: center;
justify-content: space-between;


}

nav a{
    text-decoration: none;
    color:white;
    margin: 2vh 1.6vw;
    padding: 2%;
    
}
.abox {
    display: flex;
    justify-content:flex-end;
    margin-right:55px;
}