* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.TextForm{
    margin:  320px 0 0 325px;
    margin-bottom: 15px;
}
.TextForm::first-letter{
    color:brown;
}

.ErstP{
    text-decoration: line-through;
    margin-left: 370px;
    font-size: 20px;
    
}

.ErstP::before{
   content:  url(/28.05_Day5_Class-ID_Psedo-Elements/Pseudo-Elements-Level-1_3/assets/img/no.png);
}
.ErstP::after{
    content: ">>";
}

.ZweiP{
 
    margin-left: 370px;
    background-color: aqua;
    width: 150px;
    font-size: 20px;
  
}
.ZweiP::before{
    content:  "\f1f8";
}
.ZweiP::after{
    content:  url(/28.05_Day5_Class-ID_Psedo-Elements/Pseudo-Elements-Level-1_3/assets/img/check.png);
    width: 15%;
    height: 15%;
    
}

.DreiP{

    text-decoration: underline;
    margin-left: 370px;
    line-height:25px;
    font-size: 20px;
}

.DreiP::before{
    content:  "\f1f8";
}
.DreiP::after{
    content:  "<<";
}
