*{
    margin:0;
    padding:0;
}

div {
    width: 1440px;
    height: 211.75px;
    background-color:#36B5B0;

}

h1{
    text-align: center;
    padding: 80px;
}

h1:hover{
    transform: rotate(25deg);
}

img{
    position: absolute;
width: 505px;
height: 410px;
left: calc(50% - 505px/2);
top: 250px;
filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2)) drop-shadow(-3px -3px 3px rgba(0, 0, 0, 0.1));
border-radius: 20px;

}

img:hover {
    transform: scale(1.1);
}

section{
position: absolute;
width: 485px;
height: 122.91px;
left: calc(50% - 485px/2);
top: 690.5px;
}

section h2{
    margin-bottom: 15px;
}

section p{
    margin-bottom: 15px;
}

section a{
    text-decoration: none;
}

section a:hover{
    color: blueviolet;
}

main div{
position: absolute;
width: 1340px;
height: 280px;
left: 50px;
top: 840.41px;
background: #FCF5B0;
border-radius: 40px;
}

main div::after{
    content: "";
    position: absolute;
    width:1220px;
    height: 20px;
    color: red;
    border-bottom: 5px solid rgb(144, 11, 11);
    display:block;
    top: 220.41px;
    right: 55px;
}

main div p{
position: absolute;
width: 400.07px;
height: 75px;
left: 131px;
top: 63px;

font-family: 'Courier Prime,Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
align-items: center;
color: #000000;
}

main div input{
border: none; 
background-color: #FCF5B0; 
font-family: 'Courier Prime, Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
color: #000000;
}

main div p::first-letter{
    display: inline-block;
    border: 2px solid black; 
    padding: 1px; 
    margin-right: 5px; 
    background-color: #FCF5B0; 
    font-size: 1.2em; 
}

main div input:focus {
    outline: none; 
    background-color: #FCF5B0; 
}

footer{
    position: absolute;
    width: 1440px;
    height: 131px;
    background-color: #9DD8C8;
    top: 1253px;
}
footer p:nth-of-type(1){
    margin-top:40px;
    padding: 15px;
    text-align: center;
}
footer p:nth-of-type(2){
    text-align: center;
    padding: 15px;
}